## Quick python and numpy review

In [2]:
list = [1,2,3,4,5]
list.append(6)
list[0] = 10
print(list)

[10, 2, 3, 4, 5, 6]

In [3]:
# dictionaries
dict = {'name': 'John','age':30, 'city': 'Boston'}
dict['age'] = 35
print(dict)

{'name': 'John', 'age': 35, 'city': 'Boston'}

In [4]:
#list comprehensions
squares = [x**2 for x in range(5)]
print(squares)

[0, 1, 4, 9, 16]

In [5]:
#lambda functions
add = lambda x,y: x+y
results = add(3,5)
print(results)

8

In [6]:
numbers = [1,2,3,4,5,6]
evens = [ x for x in numbers if x%2 == 0]
print(evens)

[2, 4, 6]

In [7]:
import numpy as np
arr = np.array([1,2,3,4,5])
arr2d = np.array([[1,2,3,4,5],[8,9,6,8,9]])
arr = arr +10

print(arr)

[11 12 13 14 15]

lets start with pndas

In [8]:
import pandas as pd
import numpy as np
# xheck version
print(pd.__version__)

2.2.3

In [9]:
#create Series from list
s =pd.Series([10,20,30,40,50])
print(s)

#create Series with custom index
s = pd.Series([10,20,30], index = ['a','b','c'])
print(s)
#access elements 
print(s['a'])
print(s[0])

#series from dictionary
data = {'alice' : 95,'Bob': 87,'Charlie': 92}
grades = pd.Series(data)
print(grades)

0    10
1    20
2    30
3    40
4    50
dtype: int64
a    10
b    20
c    30
dtype: int64
10
10
alice      95
Bob        87
Charlie    92
dtype: int64

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_14992\1281877199.py:10: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s[0])

In [10]:
#1.2 DataFrame(2d data
# A data frame is like excel sheeet rows and columns
#Method 1 : from dictionary
data = {
    'Name': ['Alice','Bob','Charlie','David'],
    'Age':[25,30,35,28],
    'city':['NYC','LA','Chicago','Boston'],
    'Salary': [70000,80000,75000,72000]
}
df=pd.DataFrame(data)
print(df)

#method 2 from list
data =[ ['Alice',25,'NYC'],
['Bob',30,'LA'],
['Charlie',34,'Chicago']]
df =pd.DataFrame(data,columns=['Name','Age','City'])
print(df)

#Method 3 : From Numpy Array
arr = np.array([[1,2,3],[4,5,6]])
df = pd.DataFrame(arr, columns = ['A','B','c'])
print(df)

#Method 4: from  list of dictionaries
data = [
    {'Name': 'Alice','age':30},
    {'Name': 'Bob','Age':30}
]
df =pd.DataFrame(data)
print(df)

      Name  Age     city  Salary
0    Alice   25      NYC   70000
1      Bob   30       LA   80000
2  Charlie   35  Chicago   75000
3    David   28   Boston   72000
      Name  Age     City
0    Alice   25      NYC
1      Bob   30       LA
2  Charlie   34  Chicago
   A  B  c
0  1  2  3
1  4  5  6
    Name   age   Age
0  Alice  30.0   NaN
1    Bob   NaN  30.0

# basics operations

In [11]:
#create sample Dataframe 
import pandas as pd 
df =pd.DataFrame({
    'Name':['Alice','Bob','Charlie','Subodh','David','Eve'],
    'Age': [ 25,34,50,24,23,30],
    'City':['NYC','LA','Chicago','Kolkata','HyD','HTC'],
    'Salary':[70000,80000,90000,100000,110000,89000]})
df.head() # it will print all rows
df.head(3) #it will print only 3 rows 
df.tail() # it will print last 5 rows 
df.tail(3) # it will print last 2 rows 

#Data frame info
df.shape #(6,4) - 6 rows 5 columns 
df.columns # it will provide columns name 
df.index #it will provide row indices
df.dtypes #it will provide data types on of each column 
df.describe() #statistical summary
df.info()# detailed info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    6 non-null      object
 1   Age     6 non-null      int64
 2   City    6 non-null      object
 3   Salary  6 non-null      int64
dtypes: int64(2), object(2)
memory usage: 324.0+ bytes

In [12]:
#Quick Stats
df.describe()
df['Age'].mean()
df['Age'].sum()
df['Age'].min()
df['Age'].max()
df['Age'].std()

np.float64(10.198039027185569)

## Selecting data

In [13]:
df['Name'] #select single columns(returns DataFrame)
df.Name

# select multiple columns
df[['Name','Age']]

# select rows by position
df.iloc[0]
df.iloc[0:3] #it will print 0 to 2 rows
df.iloc[[0,2,4]] # this way we can select rows

#select rows by position 
df.loc[0]
df.loc[0:2]

#select speceific cells
df.iloc[0,1] # it will oprint row and column
df.loc[0, 'Age']

np.int64(25)

In [14]:
df.loc[0,'Age']

np.int64(25)

### select with conditions

In [24]:
df[df['Age'] > 25] #rows where age is more than 25
df[df['City']=='NYC'] #rows where city is the NYC
df[(df['Age']>25) & (df['Salary'] > 75000)] #multiple condition

      Name  Age     City     Salary   Bonus     Total Senior
1      Bob   34       LA  128840.80  5000.0  122128.0   True
2  Charlie   50  Chicago  144945.90  5000.0  136769.0   True
5      Eve   30      HTC  143335.39  5000.0  135304.9  False

### adding and modifying data

In [27]:
## add new column
df['Bonus'] = 5000
df['Total'] = df['Salary'] + df['Bonus']

# add seniors
df['Senior'] = df['Age'] >30

#modifying existing column
df['Salary'] = df['Salary'] * 1.1 #10% raise 

# add new rows 
new_row = {'Name': 'Frank','Age': 29, 'City': 'Miami', 'Salary': 73000}
df =pd.concat([df,pd.DataFrame([new_row])], ignore_index =True)
print(df)

# delete row
df = df.drop(0 ,axis = 0)
df = df.drop(index =[0,1])

      Name  Age     City        Salary   Bonus        Total Senior
0      Bob   34       LA  171487.10480  5000.0  160897.3680   True
1  Charlie   50  Chicago  192922.99290  5000.0  180384.5390   True
2   Subodh   24  Kolkata  214358.88100  5000.0  199871.7100  False
3    David   23      HyD  235794.76910  5000.0  219358.8810  False
4      Eve   30      HTC  190779.40409  5000.0  178435.8219  False
5    Frank   29    Miami   97163.00000  5000.0   93330.0000  False
6    Frank   29    Miami   88330.00000  5000.0   85300.0000  False
7    Frank   29    Miami   80300.00000  5000.0   78000.0000  False
8    Frank   29    Miami   73000.00000     NaN          NaN    NaN

KeyError: '[0] not found in axis'

## reading and writing files